.leaflet-container{
    height: 100%;
    border-radius: 10px;
}
.darkMap
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}